%article.pos-rel
  - notify_posts_count = redis_scard_posts("forum:#{forum.id}:posts")
  - if notify_posts_count > 0
    %span.badge.badge-post= notify_posts_count
  .main.pl20
    %header.no-bs
      %small
        = t :post_count, count: forum.posts.count
      %h3= link_to forum.title, forum