=form_for @forum do |f|
  - if @forum.errors.any?
    %ul
      - @forum.errors.full_messages.each do |msg|
        %li= msg
  %ul.form
    %li
      = f.label :title
      = f.text_field :title
    %li.ta-right
      = f.submit :class => "button"