%article
  .main.pl20
    %header.no-bs
      %small
        - if authorized?(movie.user)
          = link_to t("links.edit"), edit_movie_path(movie)
          = link_to t("links.delete"), movie, method: :delete, confirm: t("messages.confirm_delete")
        -else
          = movie.user.name
      %h3= link_to movie.title, movie
