=form_for @video do |f|
  - if @video.errors.any?
    %ul
      - @video.errors.full_messages.each do |msg|
        %li= msg
  %ul.form
    %li
      = f.label :video_url
      = f.text_field :video_url
    %li.ta-right
      = f.submit :class => "button"