#head
  text-align: center
  background: rgb(223,223,223)
  background: -moz-linear-gradient(top,  rgba(223,223,223,1) 0%, rgba(251,251,251,1) 38%, rgba(197,197,197,1) 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(223,223,223,1)), color-stop(38%,rgba(251,251,251,1)), color-stop(100%,rgba(197,197,197,1)))
  background: -webkit-linear-gradient(top,  rgba(223,223,223,1) 0%,rgba(251,251,251,1) 38%,rgba(197,197,197,1) 100%)
  background: -o-linear-gradient(top,  rgba(223,223,223,1) 0%,rgba(251,251,251,1) 38%,rgba(197,197,197,1) 100%)
  background: linear-gradient(top,  rgba(223,223,223,1) 0%,rgba(251,251,251,1) 38%,rgba(197,197,197,1) 100%)

  h1
    color: #e3e3e3
    font-size: 3em
    padding: 15px
    text-shadow: -1px -1px 1px #333