@import compass/css3

nav
  background: #323232
  +background-image(linear-gradient(#323232, #323232 50%, #272727 57%, #282828))
  border-top: 1px solid #d4d4d4
  +box-shadow(0 3px 5px #222)

  ul
    margin: 0 auto

  .nav
    display: none

  li
    +box-sizing(border-box)
    float: left
    width: 30%
    +box-shadow(1px 0 0 0 #111111, 2px 0 0 0 #898989)
    &:hover
      +background-image(radial-gradient(rgba(120,0,0,1), rgba(40,40,40,0.3) 70%, rgba(40,40,40,0)))
    &:first-child
      +box-shadow(1px 0 0 0 #111111, 2px 0 0 0 #898989, -1px 0 0 0 #898989, -2px 0 0 0 #111111)
    &:last-child
      width: 10%

  a
    color: #fff
    display: block
    text-align: center
    font-size: 16px
    padding: 10px 10px
    cursor: pointer