.ta-center
  text-align: center

.ta-left
  text-align: left

.ta-right
  text-align: right

.td-under
  text-decoration: underline

.td-none
  text-decoration: none

.btlr0
  border-top-left-radius: 0

.pl20
  padding-left: 20px