@media only screen and (min-width: 481px)
  article, nav ul, h2
    width: 85%

  .profil-img
    display: block

@media only screen and (min-width: 801px)
  article, nav ul, h2
    width: 60%

  .profil-img
    display: block

@media only screen and (min-width: 1281px)
  article, nav ul, h2
    width: 40%

  .profil-img
    display: block