= form_for [@poll, @vote] do |f|
  %ul.form
    - @poll.selections.each do |s|
      %li.radio_button
        = f.radio_button :selection_id, s.id
        = f.label :selection_id, s.title, value: s.id
    %li.ta-right
      = f.submit :class => "button"