= form_for [@poll, @vote] do |f|
  .form
    - @poll.selections.each do |s|
      .radio_button
        = f.radio_button :selection_id, s.id
        = f.label :selection_id, s.title, value: s.id
    .ta-right
      = submit_tag t("links.vote"), :class => "button"